.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: rgba(158,17,17, 0.5);
  font-size: 1rem;
}

.location-card {
  background-color: rgba(0, 0, 0, 0.5);
}

.parallax-hero {
  margin-top: -80px;
}


.social-bar {
  position: relative;
  top: 150px;
  
}



.values-image {
  height: 100px;
}

.food-border {
  border: solid 3px lightblue;
}

.foodItemImage {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.foodItem {
  border-radius: 50px;
  width: 280px;
}




.menu-info-dividers {
  border-left: solid white 3px;
  border-right: solid white 3px;
}

.divider-line {
  width: 100%;
  height: 2px;
  background-color: grey;
  margin-top: 20px;
}

.menu-line {
  width: 100%;
  height: 2px;
  background-color: #0275d8;
  margin-top: 12px;
}

.menu-border {
  border: 2px solid dodgerblue;
  

}


.profile-pic {
  border-radius: 100%;
  height: 100px;
}

.values-image-one {
  background-image: url('../src/assets/valuesImage0.png');
  background-size: cover;
}

.values-image-two {
  background-image: url('../src/assets/valuesImage1.png');
  background-size: cover;
}

.values-image-three {
  background-image: url('../src/assets/valuesImage2.png');
  background-size: cover;
}

.menuInfo {
  background-image: url('../src/assets/parallaxHero.jpg');
}

.foodItemBG {
  background: linear-gradient(lightslategray, dimgray);
}

.foodLabelBG {
  background: linear-gradient(cornflowerblue, dodgerblue);
}

.redGradient {
  background: linear-gradient( Indianred, crimson);
}

.carousel-control-prev-icon {
  filter: invert(1);
}

.carousel-control-next-icon {
  filter: invert(1);
}

.profileImage {
  border-radius: 100%;
  height: 150px;
  width: 150px;
}
