.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: rgba(255,0,0);
  font-size: 1rem;
}

.parallax-hero {
  height: 300px;
  margin-top: -60px;
}

.social-bar {
  margin-top: -40px;
}

.values-detail {
  height: 40px;
}

.values-image {
  height: 100px;
}

.food-border {
  border: solid 3px lightblue;
}

.food-image {
  height: 100px;
}

.menu-info-dividers {
  border-left: solid white 3px;
  border-right: solid white 3px;
}

.divider-line {
  width: 100%;
  height: 2px;
  background-color: grey;
  margin-top: 20px;
}

.menu-line {
  width: 100%;
  height: 2px;
  background-color: #0275d8;
  margin-top: 12px;
}

.menu-border {
  border: 2px solid #0275d8;


}

